.footer {
  padding: 50px 0;
  background-color: #000;
}

.footer [class*='container-'] {
  padding: 0;
}

.footer .nav {
  float: left;
  margin-bottom: 0;
  padding-top: 0;
  list-style: none;
}

.footer .nav,
.footer .nav-item {
  display: block;
}

.footer .nav-link {
  color: #fff;
  padding: 10px 0;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.footer .nav-link,
.footer .nav-link:hover {
  text-decoration: none;
}

.footer .title {
  text-align: center;
}

.footer .copyright {
  font-size: 0.75rem;
  line-height: 1.8;
  color: #fff;
}

.footer:after {
  display: table;
  clear: both;
  content: ' ';
}

@media screen and (max-width: 991px) {
  .footer {
    padding-left: 0;
  }
  .footer .copyright {
    text-align: right;
    margin-right: 15px;
  }

  .footer .socials-title {
      margin-top: 20px;
  }
}

@media screen and (min-width: 992px) {
  .footer .copyright {
    float: right;
    padding-right: 30px;
  }

  .footer .title {
    margin-top: 0;
    text-align: left !important;
  }
}

@media screen and (max-width: 768px) {
  .footer nav {
    display: block;
    margin-bottom: 5px;
    float: none;
  }
}

@media screen and (max-width: 576px) {
  .footer,
  .footer .copyright {
    text-align: center;
  }
  .footer .nav {
    float: none;
    padding-left: 0;
  }
}
.form-control:-moz-placeholder,
.form-control::-moz-placeholder {
  color: #6c757c;
  opacity: 1;
  filter: alpha(opacity=100);
}

.footer-logo {
  max-width: 150px;
  color: #fff;
  margin-bottom: 20px;
}

.footer-email {
  color: #38A096;
}